@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@font-face {
  font-family: "Primal";
  src: url("../fonts/Primal Webfont.woff") format("woff");
  font-weight: lighter; }

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/** HEADER */
header {
  height: 110px;
  display: flex; }
  header img {
    height: 100%;
    margin-right: auto; }
    header img.text-logo {
      height: 60%;
      margin-top: 1rem; }

/** NAVIGATION BAR */
nav {
  position: relative;
  margin: -10px;
  background: #00607b;
  background: linear-gradient(90deg, #00607b 0%, #007293 38%, rgba(0, 164, 215, 0.822567) 100%); }
  nav ul {
    list-style-type: none;
    padding: 15px;
    text-align-last: justify; }
    nav ul li {
      display: inline;
      font-family: Primal;
      font-size: 16px; }
      nav ul li a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px; }
        nav ul li a:hover {
          background-color: #111; }

main {
  margin: -1rem; }
  main article {
    position: relative;
    display: inline-block;
    width: 100%; }
    main article .caption {
      position: absolute;
      z-index: 1;
      left: 2rem;
      top: 65%;
      width: 40%;
      background: rgba(0, 163, 216, 0.65);
      border: 1px solid #979797;
      box-shadow: 8px 8px 9px 0 rgba(0, 0, 0, 0.5);
      border-radius: 10px; }
      main article .caption h1 {
        font-size: 40px;
        color: #000000;
        text-align: left;
        margin: 1rem; }
      main article .caption p {
        font-size: 24px;
        color: #FFFFF0;
        text-align: left;
        margin: 1rem; }
    main article img {
      width: 100%;
      position: relative; }

.content {
  text-align: center; }

.column-grid {
  display: grid;
  margin: 1rem;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-evenly; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%; }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

#container {
  width: 100%;
  display: inline-block; }
