<app-header></app-header>
  <h2 id="products">
    Products
  </h2>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/images/board.jpg" alt="Vehicle Control Module" style="width: 100%; height: 100%">
      </div>
      <div class="flip-card-back">
        <p>Android/IOS App calibratable AutoBlippers/Quick-Shifters, Launch Control, Cruise Control, and
          Traction Control modules
          for most models of motorcycles.
        </p>
      </div>
    </div>
    <h3>Vehicle Control Modules</h3>

  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/images/strokesensor.png" alt="Data Acquisiton Equipment" style="width: 100%; height: 100%">
      </div>
      <div class="flip-card-back">
        <p>Data Acquisition linear stroke sensors from 10mm to 300mm.</p>
      </div>
    </div>
    <h3>Data Acquisition Equipment</h3>

  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/images/johannes-plenio-FZpCcPss9to-unsplash.jpg" alt="Custom Build"
          style="width: 100%; height: 100%">
      </div>
      <div class="flip-card-back">
        <p>Adrenaline Engineering will build one-off, race ready prototype systems to meet your
          specifications and needs.</p>
      </div>
    </div>
    <h3>Custom Builds</h3>

  </div>